html {
    height: 100%;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

.principal-arriba {
    width: 100%;
    height: 70%;
    /*background-color: aqua;*/
    background-color: black;
    position: relative;
    display: flex;
    align-items: flex-end;
}

/* NUEVO: el video ocupa toda el área y recorta bien */
.principal-arriba video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.principal-abajo { overflow: auto; }
/*
.principal-abajo img {
    width: 100%;
    *//*height: auto !important;*//*
}*/
/*
@supports(object-fit: cover) {
    .principal-abajo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}*/

table {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    background-color: #fff;
    table-layout: fixed;
}

th {
    height: 20%;
    font-size: 210%;
    text-align: center;
    background-color: #00AEEF;
}

td {
    height: 20%;
    max-height: 174px;
    text-align: left;
    border: 1px solid #000;
    word-wrap: break-word;
}


/*FONTS PERSONALIZADOS*/


/*TABLA TURNOS*/

.red {
    font-size: 550%;
    text-align: center;
    color: #B40000;
    font-weight: 900 !important;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif !important;
}

.blue {
    font-size: 500%;
    color: #0017A7;
    line-height: 100%;
    overflow: hidden;
    padding: 0 0 0 10px;
    font-weight: 900 !important;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif !important;
}

.light-blue {
    font-size: 350%;
    color: #00AEEF;
    line-height: 100%;
    overflow: hidden;
    padding: 0 0 0 10px;
    font-weight: 900 !important;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif !important;
}

#fila_0 {
    background-color: #C4E0F3;
}


/*MODAL*/


/* Modal Header */

.modalContainer {
    display: none;
    scrollbar-width: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    /* background: rgb(25, 156, 216);
    background: linear-gradient(to top, rgba(25, 156, 216, 1) 0%, rgba(27, 76, 149, 1) 100%); */
    /* background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4); */
}

.modalContainer .modal-content {
    background-color: transparent;
    margin: auto;
    border: 1px solid transparent;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.texto {
    font-size: 100px;
    font-family: helvetica;
    font-weight: bold;
    color: #00AEEF;
    text-transform: uppercase;
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}